<% const sk_buttons = [
    ["W攻撃", "W攻撃"],
    ["バフのみ", "バフのみ"],
    ["MP回復", "MP回復"],
    ["攻撃UP", "物理攻撃UP,魔法攻撃UP"],
    ["クリUP", "物理クリティカルUP,魔法クリティカルUP"],

    ["速度UP", "行動速度UP"],
    ["スキルダメUP", "スキルダメージUP"],
    ["奥義ダメUP", "奥義ダメージUP"],
    ["属性攻撃UP", "属性攻撃UP"],
    ["回数付ダメUP", "回数付ダメージUP,回数付物理ダメージUP,回数付魔法ダメージUP"],

    ["ダメUP", "ダメージUP"],
    ["挑発", "挑発"],
    ["デバフ耐性", "デバフ耐性"],
    ["防御DOWN", "物理防御DOWN,魔法防御DOWN"],
    ["速度DOWN", "行動速度DOWN"],

    ["被ダメUP", "被ダメージUP"],
    ["挑発耐性", "挑発耐性"],
    ["状態異常", "毒,火傷,凍結,出血,沈黙,解消,麻痺,睡眠,石化,眩暈,混乱,魅了,呪い,盲目,恐怖,解消"],
    ["自MP回復", "自身MP回復"],
    ["自攻撃UP", "自身物理攻撃UP,自身魔法攻撃UP"],

    ["自クリUP", "自身物理クリティカルUP,自身魔法クリティカルUP"],
    ["自速度UP", "自身行動速度UP"],
    ["自スキルダメUP", "自身スキルダメージUP"],
    ["自奥義ダメUP", "自身奥義ダメージUP"],
    ["自属性攻撃UP", "自身属性攻撃UP"],

    ["自回数付ダメUP", "自身回数付ダメージUP,自身回数付物理ダメージUP,自身回数付魔法ダメージUP"],
    ["自ダメUP", "自身ダメージUP,自身条件付ダメージUP"],
    ["自デバフ耐性", "自身デバフ耐性"],
    ["速度UP①のみ", "行動速度UP_A"],
    ["速度UP②のみ", "行動速度UP_B"],
    ["速度DOWN①のみ", "行動速度DOWN_A"],
    ["速度DOWN②のみ", "行動速度DOWN_B"],
];
%>
<ul class="filter_container" data-filter="sk_type" data-count="<%= sk_buttons.length %>">
    <% for (const button of sk_buttons) { %>
        <% const val = button[1].split(",").map(x => def[x]).join(","); %>
        <li data-val="<%= val %>" data-check="0"><div><%= button[0] %></div></li>
    <% } %>
</ul>
