<% const ub_buttons = [
    ["単体攻撃", "単体攻撃"],
    ["複数攻撃", "複数攻撃"],
    ["6人攻撃", "六人攻撃"],
    ["全体攻撃", "全体攻撃"],
    ["バブのみ", "バフのみ"],

    ["HP回復", "HP回復"],
    ["MP回復", "MP回復"],
    ["攻撃UP", "物理攻撃UP,魔法攻撃UP"],
    ["クリUP", "物理クリティカルUP,魔法クリティカルUP"],
    ["速度UP", "行動速度UP"],

    ["属性攻撃UP", "属性攻撃UP"],
    ["回数付ダメUP", "回数付ダメージUP,回数付物理ダメージUP,回数付魔法ダメージUP"],
    ["ダメUP", "ダメージUP"],
    ["挑発", "挑発"],
    ["デバフ耐性", "デバフ耐性"],

    ["防御DOWN", "物理防御DOWN,魔法防御DOWN"],
    ["速度DOWN", "行動速度DOWN"],
    ["被ダメUP", "被ダメージUP"],
    ["状態異常", "毒,火傷,凍結,出血,沈黙,解消,麻痺,睡眠,石化,眩暈,混乱,魅了,呪い,盲目,恐怖,解消"],
    ["自MP回復", "自身MP回復"],

    ["自攻撃UP", "自身物理攻撃UP,自身魔法攻撃UP"],
    ["自クリUP", "自身物理クリティカルUP,自身魔法クリティカルUP"],
    ["自速度UP", "自身行動速度UP"],
    ["自属性攻撃UP", "自身属性攻撃UP"],
    ["自回数付ダメUP", "自身回数付ダメージUP,自身回数付物理ダメージUP,自身回数付魔法ダメージUP"],

    ["自ダメUP", "自身ダメージUP,自身条件付ダメージUP"]
]; 
%>
<ul class="filter_container" data-filter="ub_type" data-count="<%= ub_buttons.length %>">
    <% for (const button of ub_buttons) { %>
        <% const val = button[1].split(",").map(x => def[x]).join(","); %>
        <li data-val="<%= val %>" data-check="0"><div><%= button[0] %></div></li>
    <% } %>
</ul>
