<%
var baseUrl = '.';
%>

<%-
    include('./_inc/_head.ejs', {
        baseUrl: baseUrl,
        page: json
    });
%>

<%-
    include('./_inc/_list.ejs', {
        baseUrl: baseUrl,
        page: json,
        t: json.t
    });
%>


</body>
</html>
