// _layout.scss
@use "settings" as s;

.style-wrapper {
    color: #313131;
    padding: 5px 10px 15px;
    display: block;
    word-break: break-all;
    background-color: #fff;
    max-width: 1440px;
    margin:auto;
}

.center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.table-scroll {
    overflow-x: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.target-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.hero_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: -1px;
    margin-right: -1px;

    @include s.media(tb) {
        grid-template-columns: repeat(5, 1fr);
    }
    @include s.media(pc) {
        grid-template-columns: repeat(6, 1fr);
    }
    @include s.media(xl) {
        grid-template-columns: repeat(8, 1fr);
    }


    > li { 
        text-align: center;
        line-height: inherit;
        border-right: 1px solid #b9b49e;
        border-bottom: 1px solid #b9b49e;
        padding: 4px 2px;
    }
}

// ==========================================================================
// #ガントチャート
// ==========================================================================

// モバイルファーストのレイアウト
.gantt-chart {
  max-width: 935px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  border: none;
}

.gantt-header {
  display: none;
}

.gantt-rows-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.gantt-item-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10px;
  border: 1px #b9b49e solid;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.gantt-info {
  padding-right: 0;
  width: 100%;
  flex-basis: auto;
  order: 1;
}

.gantt-chart-bar {
  margin-top: 5px;
  width: 100%;
  max-width: 100%;
  flex-basis: auto;
  order: 3;
}

// PC向けのレイアウト
@include s.media(sp) {
  .gantt-chart {
    padding: 10px 20px;
    border: 1px #b9b49e solid;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  .gantt-header {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .gantt-item-wrapper {
    flex-direction: row;
    padding: 0;
    margin-bottom: 8px;
    border: none;
    box-shadow: none;
  }

  .gantt-rows-container {
    flex-direction: row;
  }

  .gantt-info-header,
  .gantt-info {
    flex-basis: 320px;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 15px;
  }

  .gantt-info-header {
    font-weight: bold;
  }

  .gantt-info {
    order: 0;
  }

  .gantt-chart-bar {
    order: 1;
    margin-top: 0;
    width: unset;
  }

  .gantt-chart-header-container,
  .gantt-chart-bar {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 600px;

  }
}