<%
var baseUrl = '..';
var parentUrl = `../index.${json.lang}.html`;
%>

<%-
    include('../_inc/_head.ejs', {
        baseUrl: baseUrl,
        parentUrl: parentUrl,
        page: json
    });
%>

<%-
    include('../_inc/_contents.ejs', {
        baseUrl: baseUrl,
        parentUrl: parentUrl,
        page: json,
        t: json.t
    });
%>
</body>
</html>
